/* navigation */
#navbar{
    flex-direction: column;    
}
#navbar ul li a{
    font-size:1rem;
    padding:0px 7px;
}
/* home-section */
#home{
    height:380px;
    padding:3px 68px;
}
#home::before{
    height:480px;
}

/* service-section */
#services{
    flex-direction:column;
}
/* utility classes */
.h-primary{
    padding:86px;
}